<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>MoU's</title>
  <script>

  </script>
</head>
<body>
  <nav>
    <div class="logo"><img src="img/Smvec-crop.png" alt=""></div>
    <div class="nav-options">
      <a href="/"><button style="border: 2px solid transparent" class="btn">MoU's</button></a>
      <a href="/adminPage"><button style="border: 2px solid transparent" class="btn" >Admin</button></a>
      <a href="www.smvec.ac.in"><button style="margin-right:50px;">Contact Us</button></a>
    </div>
  </nav>
  <div class="MOU">
    <h1>MoU's Signed</h1>
    <div class="cards">
      <!-- Cards -->
      <% if(companies.length) { %> <% for(let company of companies) { %>
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <div class="card-img" style="flex-basis: 60%;"><img src= <%= company.iconUrl %> alt=""></div>
              <div class="div-content"><h2><%=company.companyName%></h2></div>
            </div>
            <div class="card-back">
              <h3><%=company.companyName%></h3>
              <p>Year of signing MoU - <%= company.yearOfSigning%><br>
                Duration : <%= company.duration%>
              </p>            
              <a href="#"><button style="display: inline-flex;">Know More <img src="img/link.png" alt="" style="height: 16px; padding: 0; margin-top: 5px; margin-left: 5px; margin-bottom: 5px;"></button></a>
            </div>
          </div>
        </div>
      <% }} %>
      
    </div>
  </div>
</body>
</html>